server:
  port: 9005
  error:
    include-message: always
    include-binding-errors: always

spring:
  thymeleaf:
    enabled=false:

  datasource:
    password: sa
    url: jdbc:h2:mem:employeedb;DB_CLOSE_DELAY=-1
    username: sa
  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    show-sql: true

